
  <h1>Welcome to Better Coffee</h1>
<div id="textp">
    <p>Oh thou, beloved of my twenty-seven senses, I love thine! Thou thee
thee thine, I thine,
thou mine, we?
That (by the way) is beside the point!
Who art thou, uncounted woman, Thou art, art thou?
People say, thou werst,
Let them say, they don't know what they are talking about.
Thou wearest thine hat on thy feet, and wanderest on thine hands,
On thine hands thou wanderest
Hallo, thy red dress, sawn into white folds,
Red I love Eve Blossom, red I love thine,
Thou thee thee thine, I thine, thou mine, we?
That (by the way) belongs to the cold glow!
Eve Blossom, red Eve Blossom what do people say?
PRIZE QUESTION: 1. Eve Blossom is red,
2. Eve Blossom has wheels
3. what colour are the wheels?
Blue is the colour of your yellow hair
Red is the whirl of your green wheels,
Thou simple maiden in everyday dress,
Thou small green animal,
I love thine!
Thou thee thee thine, I thine, thou mine, we?
That (by the way) belongs to the glowing brazier!
Eve Blossom,eve,
E - V - E,
E easy, V victory, E easy,
I trickle your name.
Your name drops like soft tallow.
Do you know it, Eve?
Do you already know it?
One can also read you from the back
And you, you most glorious of all,
You are from the back as from the front, </p>
</div>

<table border = "0">
  <tr>
    <td>

    <!--   <#%= button_to "areas", '/areas',method: "get", :class => "to_areas_button", :id => "areas"%> -->



    </td>
  </tr>
</table>



