<div class="<h1> Welcome to Better Coffee</h1>

<table border = "0">
  <tr>
    <td>

      <%= button_to "areas", '/areas',method: "get", :class => "to_areas_button", :id => "areas"%>



    </td>
  </tr>
</table>


