
  <h1>Welcome to Better Coffee</h1>
<div id="textp">
<h4>
Fact:
</h4>
<p>
About 83 percent of adults drink coffee in the U.S., the world's biggest consumer of the beverage, up from 78 percent a year earlier, according to the National Coffee Association's 2013 online survey. That's an average of three cups a day per person, or 587 million cups.</p>
<h4>
Fact:
</h4>
<p>By every bad coffee cup consumed,a puppy dies everyday.
Don't be cruel.<strong>Have good coffee.</strong></p>

Cuppa.joe can help.
 </p>
</div>

<table border = "0">
  <tr>
    <td>

    <!--   <#%= button_to "areas", '/areas',method: "get", :class => "to_areas_button", :id => "areas"%> -->



    </td>
  </tr>
</table>




