<h1>Select your Area </h1>

<div id="map">
  <p> Upper West Side</p>
</div><br>
<div id="ues-map">
<p> Upper East Side</p>
</div>

<script>
document.getElementById('map').addEventListener("click", myFunction);
function myFunction(){

}
</script>

<p> Upper West Side</p>
<p> Upper East Side</p>
<p> Chelsea </p>
<p> West Village</p>
<p> East Village </p>
<p> Lower East Side</p>
<p>Flatiron </p>
<p> Brooklyn </p>

<!-- body>
  <h1>Select your Area</h1>
  <div class="centered">
    <button id="map">Upper West Side</button>
    <button id="ues-map">Upper East Side</button>
    <button id="chelsea-map">Chelsea</button>
    <button id="west-village-map">West Village</button>
    <button id="east village-map">East Village</button>
    <button id="Les-map">Lower East Side</button>
    <button id="flatiron-map">Flatiron</button>
    <button id="brooklyn-mpa">Brooklyn</button>
  </div>
</body>

 -->
