
<!-- <div id="ues-map">
<p> Upper East Side</p>
</div> -->
<!--
<script>
document.getElementById('map').addEventListener("click", myFunction);
function myFunction(){

}
</script>

 -->

<!-- div class= "bg-maroon pvl" = -->
<div id="leftColumn">
  <p><a href="#" id="uws" onclick="handleClick(this);"> Upper West Side</a></p>
  <p><a href="#" id="ues" onclick="handleClick(this);"> Upper East Side</a></p>
  <p><a href="#" id="chelsea" onclick="handleClick(this);">Chelsea </a></p>
  <p><a href="#" id="westvillage" onclick="handleClick(this);">West Village</a></p>
  <p><a href="#" id="eastvillage" onclick="handleClick(this);">East Village</a></p>
  <p><a href="#" id="les" onclick="handleClick(this);">Lower East Side</a></p>
  <p><a href="#" id="flatiron" onclick="handleClick(this);">Flatiron</a></p>
  <p><a href="#" id="brooklyn" onclick="handleClick(this);">Brooklyn</a></p>
</div>

<div id="mapContainer">
  <div id="map">
    <h1>Select your Area </h1>
  </div><br>
</div>

<!-- body>
  <h1>Select your Area</h1>
  <div class="centered">
    <button id="map">Upper West Side</button>
    <button id="ues-map">Upper East Side</button>
    <button id="chelsea-map">Chelsea</button>
    <button id="west-village-map">West Village</button>
    <button id="east village-map">East Village</button>
    <button id="Les-map">Lower East Side</button>
    <button id="flatiron-map">Flatiron</button>
    <button id="brooklyn-mpa">Brooklyn</button>
  </div>
</body>

 -->
