<h1>Select your Area </h1>

<div id="map">
  <p> Upper West Side</p>
</div><br>
<div id="ues-map">
<p> Upper East Side</p>
</div>

<script>
document.getElementById('map').addEventListener("click", myFunction);
function myFunction(){

}
</script>

<p> Upper West Side</p>
<p> Upper East Side</p>
<p> Chelsea </p>
<p> West Village</p>
<p> East Village </p>
<p> Lower East Side</p>
<p>Flatiron </p>
<p> Brooklyn </p>


<h1>Select your Area</h1>
  <div class="centered">
    <button id="map">Add Random User</button>
    <button id="ues-map">Add Female User</button>
    <button id="male-user-btn">Add Male User</button>
  </div>


