<div> <h1> Contact us </h1>

<div class="contactForm">
<fieldset>
  <label>Enter your name</label>
  <input type='text' value=''/>
</fieldset>

<fieldset>
  <label>Enter your name</label>
  <input type='text' value='' class='stretch'/>
</fieldset>

<fieldset>
  <label>Enter your favorite color</label>
  <input type='text' value='' class='stretch'/>
</fieldset>
</div>

<input type='submit' value='Submit' name=''/>
