
<!-- <form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Shoot us a Line</legend>

        <label for="email"> Enter your name</label>
        <input id="email" type="name" placeholder="Name">

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="state">Neighbourhood</label>
        <select id="Neighbourhood">
            <option>Upper West Side</option>
            <option>Upper East Side</option>
            <option>Chelsea</option>
            <option>West Village</option>
            <option>East Village</option>
            <option>Lower East Side</option>
            <option>Flatiron</option>
            <option>Brooklyn</option>
        </select>

        <label for="remember" class="pure-checkbox">
           <input type='submit' value='Submit' name=''/>

        </label>
 -->


 <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="Neighbourhood" type="text" class="validate">
        <label for="Neighbourhood">Neighbourhood</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </form>
</div>
<input type='submit' value='Submit' name=''/>





<!--

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-action-account-circle prefix"></i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="mdi-communication-phone prefix"></i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
  </form>
</div>
 -->

