<!DOCTYPE html>
<html>
<header>
  <nav style="background-color: initial">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="padding-left: 50px;">Cuppa.joe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="areas">Areas</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><p style="width: 50px"></p></li>
      </ul>
    </div>
  </nav>

  </header>


<head>
  <title>BestCoffeeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>


  <%#= stylesheet_link_tag "https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css" %>

  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->

<link rel="stylesheet" href="stylesheets/btns.min.css">


</head>


<body class="headerImage">

  <%= yield %>

  <%= javascript_include_tag 'application' %>


</body>

</html>

